<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>719658629.370939</string>
					<key>XcodeLocation</key>
					<string>{"Selection":{"Editor":"Xcode3TargetEditor","Target":"ITA 12","Xcode3BuildPhasesEditorLocations":[{"d5735c88a34f7895f97769dd08fe54b36a6e314e92eb7f68675dff592901f68a":[["d5735c88a34f7895f97769dd08fe54b318fe96d801911977909a08aaa39c322f"]]}],"Xcode3TargetEditorLocations":[{"Selected Build Files":[["d5735c88a34f7895f97769dd08fe54b318fe96d801911977909a08aaa39c322f"]]}]}}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ITA 12.xcodeproj</string>
					</dict>
				</dict>
				<key>type</key>
				<string>Xcode3ProjectDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Missing package product 'LaunchAtLogin'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
